<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>granite-alarmlight test</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>
    <script src="../../web-component-tester/browser.js"></script>

    <link rel="import" href="../granite-alarmlight.html">
  </head>
  <body>

    <test-fixture id="BasicTestFixture">
      <template>
        <granite-alarmlight></granite-alarmlight>
      </template>
    </test-fixture>

    <script>
      suite('granite-alarmlight', () => {

        test('instantiating the element with default properties works', () => {
          const element = fixture('BasicTestFixture');
          assert.equal(element.prop1, 'granite-alarmlight');
          const elementShadowRoot = element.shadowRoot;
          const elementHeader = elementShadowRoot.querySelector('#ledSocket');
          assert.equal(elementHeader.innerHTML, '');
        });

      });
    </script>

  </body>
</html>
